[Desktop Entry]
Type=Application
Name=GNUstep Defaults
TryExec=gnustep-defaults
Exec=gnustep-defaults
StartupNotify=false
NoDisplay=true

X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
